@media screen and (max-width: 480px){
    .header{
        background-image: none;
        width: auto;
        height: 700px;
    }
    .header__menu{
        width: auto;
    }
    .logo{
        margin-left: 10px;
    }
    .logotip-header{
        margin-left: 10px;
        height: 60px;
        width: 70px;
    }
    .callback{
        display: none;
    }
    /* header */
    .header{
        height: 1150px;
        width: auto;
        background-image: none;
    }
    .header__zagolovok{
        width: auto;
    }
    .h1__zagolovok{
        width: 300px;
        font-size: 40px;
    }
    .header__info{
        width: 330px;
        height: 950px;
        display: block;
    }
    .p-about-us{
        width: 320px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .svg__info{
        width: 300px;
        grid-template-columns: repeat(1,3fr);
        margin-left: 10px;
    }
    .time{
        width: 300px;
    }
    .star{
        width: 300px;
    }
    .dumbbell{
        width: 300px;
    }
    .btn-abon{
        margin-left: auto;
        margin-right: auto;
    }
    .contact{
        width: auto;
    }
    .h1__contact{
        margin-right: 0;
    }
    /* down menu */
    .down__menu{
        width: auto;
        height: 120px;
    }
    .down__menu__flex{
        text-align: center;
    }
    .logotip__down{
        padding-top: 30px;
        margin-right: 5px;
        width: 70px;
        height: 60px;
    }
    .logo{
        margin-left: 0;
    }
    .down__contact{
        width: 130px;
    }
    .contact__icon__down{
        width: 120px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .instagram__down {
        width: 30px;
        height: 30px;
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        border-radius: 10px;
    }
    .vk__down {
        width: 30px;
        height: 30px;
    }
    .facebook__down {
        width: 30px;
        height: 30px;
    }
    
    .h1__contact__down{
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 14px;
    }
    .number__info__down{
        margin-top: 20px;
        font-size: 14px;
        margin-right: 0;
    }
    .callback__menu__down{
        width: 120px;
        height: 45px;
    }
    .callback__down{
        width: 120px;
        height: 40px;
    }
}    
@media screen and (min-width: 1550px){
    .header__menu{
        width: auto;
    }
    .down__menu{
        width: auto;
        height: 120px;
    }
}