body {
    font-family: Russo One;
    background-color: black;
    margin: auto;
    overflow-x: hidden;
}

:root {
    --text--color: aliceblue;
    --second-color-text: coral;
    --index: calc(1vw + 1vh);
}

/* header__menu */
.header__menu {
    background-color: black;
    margin: 0 auto;
    width: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 110px;
    z-index: 999;
    border-bottom: solid coral;
}

.header__logo {
    height: 70px;
    width: 80px;
    align-items: center;
    margin: 20px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__text-info {
    color: var(--text--color);
    margin-right: 40px;
    text-decoration: none;
}

.header__button {
    font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 16px);
    width: calc(var(--index) * 7);
    height: 40px;
    border-radius: 12px;
    background-color: var(--second-color-text);
    color: var(--text--color);
    margin-right: 230px;
    font-family: Shadows Into Light;
}

.header__button-a {
    font-weight: 500;
    text-decoration: none;
    color: var(--text--color);
}

/* derictions */
.directions {
    background-repeat: no-repeat;
    height: auto;
}

.directions__title {
    font-weight: 500;
    padding-left: calc(var(--index) * 1);
    width: calc(var(--index) * 18);
    font-size: clamp(32px, 10 * (1vw + 1vh) / 2, 48px);
    color: var(--text--color);
    border-bottom: solid coral;
    margin-left: 10%;
}

.directions__nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 60px auto;
}

.directions-nav__mobile {
    display: none;
}

.directions__btn {
    border-style: none;
    cursor: pointer;
    width: 210px;
    height: 40px;
    background-color: #25232A;
    border-radius: 12px;
    font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 16px);
    color: var(--text--color);
}

.directions__btn:focus {
    background-color: var(--second-color-text);
    color: black;
}
.directions__btn:active {
    background-color: var(--second-color-text);
    color: black;
}

/* directions__info */
.directions-info {
    width: 1440px;
    margin: 60px auto;
}
.directions-info__mobile {
    display: none;
}

.gym__container {
    width: 1200px;
    margin: 90px auto;
}

.gym__card {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 15);
}

.card-info {
    width: 600px;
}

.card-title {
    width: calc(var(--index) * 20);
    font-size: clamp(32px, 10 * (1vw + 1vh) / 2, 48px);
    color: var(--second-color-text);
    font-weight: 500;
    margin-left: 5%;
}

.card-text {
    font-size: clamp(16px, 10 * (1vw + 1vh) / 2, 18px);
    color: var(--text--color);
    margin-left: 5%;
    font-weight: 500;
}

/* group-trainig */
.group-training {
    width: 1200px;
    margin: 60px auto;
}

.group-training-card {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* pool */
.pool {
    width: 1200px;
    margin: 60px auto;
}

.pool__card {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* spa */
.spa {
    width: 1200px;
    margin: 60px auto;
}

.spa__card {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* children */
.children {
    width: 1200px;
    margin: 60px auto;
}

.children-card {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer */
.footer {
    width: auto;
    height: 140px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1818;
}

.footer__flex {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin: 20px;
    width: 80px;
    height: 70px;
}

.footer__contact {}

.footer__title {
    font-weight: 500;
    color: var(--text--color);
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
}

.footer__text {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px);
}

.footer__icon {
    text-align: center;
}

.footer__instagram {
    width: 40px;
    height: 40px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.footer__vk {
    transition: all 0.5s;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    fill: cornflowerblue;
}

.footer__facebook {
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    fill: blue;
}

.footer__callback {
    width: 200px;
}

.footer__btn {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--second-color-text);
    color: aliceblue;
    font-size: 16px;
}

.footer__a {
    text-decoration: none;
    color: var(--text--color);
}

/* mobile adaptiv */
@media screen and (max-width: 480px) {

    /* header__menu */
    .header__menu {
        background-color: black;
        margin: 0 auto;
        width: auto;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 90px;
        z-index: 999;
        border-bottom: solid coral;
    }

    .header__logo {
        height: 60px;
        width: 70px;
        align-items: center;
        margin: 20px;
    }

    .header__text-info {
        width: 150px;
        font-size: 14px;
        margin-left: 10px;
        text-decoration: none;
        color: var(--text--color);
    }

    .callback {
        display: none;
    }

    /* directions */
    .directions-nav__mobile{
        display: flex;
    }
    .swiper {
        overflow: hidden;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
    }

    .swiper-wrapper {
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .swiper-slide__nav {
        width: 120px;
        margin-right: 20px;
        text-align: center;
        font-size: 18px;
    }

    .directions {
        width: auto;
    }

    .directions__title {
        font-size: 24px;
    }

    .directions__nav {
        display: none;
    }
    .directions__btn{
        font-size: 14px;
        width: 130px;
    }
    .directions-info{
        display: none;
    }
    /* directions-info__mobile */
    .directions-info__mobile{
        display: block;
    }
    .gym__container{
        width: auto;
    }
    .gym__card{
        display: block;
    }
    .card__img{
        margin-top: 30px;
        width: 300px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    .card-img{
        width: 300px;
        height: 200px;
    }
    .card-title{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        font-size: 26px;
    }
    .card-text{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        font-size: 14px;
    }
    /* group__training */
    .group-training{
        width: auto;
    }
    .group-training-card{
        display: block;
    }
    .pool{
        width: auto;
    }
    .pool__card{
        display: block;
    }
    .spa{
        width: auto;
    }
    .spa__card{
        display: block;
    }
    .children{
        width: auto;
    }
    .children-card{
        display: block;
    }
    /* footer */
    .footer{
        height: 120px;
    }
    .footer__logo {
        margin: 20px;
        width: 70px;
        height: 60px;
    }

    .footer__contact {}

    .footer__title {
        font-weight: 500;
        color: var(--text--color);
        font-size: 14px;
    }

    .footer__text {
        display: none;
    }

    .footer__icon {
        text-align: center;
    }

    .footer__instagram {
        width: 30px;
        height: 30px;
    }

    .footer__vk {
        width: 30px;
        height: 30px;
    }

    .footer__facebook {
        width: 30px;
        height: 30px;
    }

    .footer__callback {
        width: auto;
    }

    .footer__btn {
       display: none;
    }
}