@media screen and (max-width: 480px){
    .header{
        background-image: none;
        width: auto;
        height: 700px;
    }
    .header__menu{
        width: auto;
    }
    .logo{
        margin-left: 10px;
        width: 70px;
        height: 60px;
    }
    .logotip{
        height: 60px;
        width: 70px;
    }
    .callback{
        display: none;
    }
    /* header */
    .header{
        width: auto;
        background-image: none;
    }
    .header__zagolovok{
        width: auto;
        background-image: none;
    }
    .h1__zagolovok{
        width: 300px;
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .p__zagolovok{
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .aboniment__btn{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .a__abon{
        font-size: 14px;
    }
    .contact{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
    }
    .h1__contact{
        width: 170px;
        margin-left: 10px;
        margin-right: 0px;
    }
    .contact__icon{
        margin-right: 10px;
    }
    /* feedback-container */
    .feedback-container{
        width: auto;
        height: 3500px;
        background-image: none;
    }
    .h1-feedback{
        text-align: center;
        width: 300px;
        font-size: 24px;
    }
    .feedback-svg-header{
        width: 30px;
        height: 30px;
    }
    .feedback-block{
        width: auto;
    }
    .feedback-card{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 330px;
        height: 400px;
        text-align: center;
    }
    .img-feedback{
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    .h1-name{
        font-size: 25px;
        width: 290px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .p-info-feedback{
        width: 330px;
    }
    .right-card{
        margin-left: auto;
    }
    /* down menu */
    .down__menu{
        width: auto;
        height: 120px;
    }
    .logo-down{
        margin-left: 5px;
    }
    .logotip__down{
        padding-top: 10px;
        width: 70px;
        height: 60px;
    }
    .down__contact{
        width: 150px;
    }
    .contact__icon__down{
        width: 120px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .instagram__down {
        width: 30px;
        height: 30px;
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        border-radius: 10px;
    }
    .vk__down {
        width: 30px;
        height: 30px;
    }
    .facebook__down {
        width: 30px;
        height: 30px;
    }
    .h1__contact__down{
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 14px;
    }
    .number__info__down{
        margin-top: 20px;
        font-size: 12px;
        margin-right: 0;
    }
    .callback__menu__down{
        width: 120px;
    }
    .callback__down{
        width: 120px;
        height: 45px;
    }
}
@media screen and (min-width: 1550px){
    .header__menu{
        width: auto;
    }
    .down__menu{
        width: auto;
        height: 120px;
    }
}