body {
    font-family: Russo One;
    background-color: black;
    margin: auto;
    overflow-x: hidden;
}

:root {
    --text--color: aliceblue;
    --second-color-text: coral;
    --index: calc(1vw + 1vh);
}

span {
    color: var(--second-color-text);
}

button {
    border-style: none;
}

/* header__menu */
.header__menu {
    background-color: black;
    margin: 0 auto;
    width: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 110px;
    z-index: 999;
    border-bottom: solid coral;
}

.header__logo {
    height: 70px;
    width: 80px;
    align-items: center;
    margin: 20px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__text-info {
    color: var(--text--color);
    margin-right: 40px;
    text-decoration: none;
}

.header__button {
    font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 16px);
    width: calc(var(--index) * 7);
    height: 40px;
    border-radius: 12px;
    background-color: var(--second-color-text);
    color: var(--text--color);
    margin-right: 230px;
    font-family: Shadows Into Light;
}

.header__button-a {
    font-weight: 500;
    text-decoration: none;
    color: var(--text--color);
}

/* feedback */
.feedback {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.feedback__title {
    width: 600px;
    margin-left: 5%;
    font-size: 46px;
    color: var(--text--color);
}

.feedback-client__info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feedback-client__img {
    border-radius: 70px;
    width: 130px;
    height: 120px;
}

.feedback-client__name {
    color: var(--second-color-text);
}

.feedback-client-text {}

.feedback__text {
    color: var(--text--color);
    font-size: 20px;
}

.feedback

/* swiper */
.swiper {
    margin-top: 60px;
    width: 650px;
    min-height: 400px;
    max-height: 400px;
}

.feedback-card {
    max-width: 650px;
    min-height: 300px;
    text-align: center;
    font-size: 18px;
    background-color: #1a1818;
    display: flex;

}

/* footer */
.footer {
    width: auto;
    height: 140px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1818;
}

.footer__flex {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin: 20px;
    width: 80px;
    height: 70px;
}

.footer__contact {}

.footer__title {
    font-weight: 500;
    color: var(--text--color);
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
}

.footer__text {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px);
}

.footer__icon {
    text-align: center;
}

.footer__instagram {
    width: 40px;
    height: 40px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.footer__vk {
    transition: all 0.5s;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    fill: cornflowerblue;
}

.footer__facebook {
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    fill: blue;
}

.footer__callback {
    width: 200px;
}

.footer__btn {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--second-color-text);
    color: aliceblue;
    font-size: 16px;
}

.footer__a {
    text-decoration: none;
    color: var(--text--color);
}

/* mobile adaptiv */
@media screen and (max-width: 480px) {

    /* header__menu */
    .header__menu {
        background-color: black;
        margin: 0 auto;
        width: auto;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 90px;
        z-index: 999;
        border-bottom: solid coral;
    }

    .header__logo {
        height: 60px;
        width: 70px;
        align-items: center;
        margin: 20px;
    }

    .header__text-info {
        width: 150px;
        font-size: 14px;
        margin-left: 10px;
        text-decoration: none;
        color: var(--text--color);
    }

    .callback {
        display: none;
    }

    /* feedback */
    .feedback {
        width: auto;
    }

    .feedback__title {
        margin-top: 60px;
        width: 330px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
    }

    /* swiper */
    /* feedback */
    .feedback {
        width: auto;
    }

    .feedback__title {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
    }

    .feedback-client__info {
        margin-top: 20px;
        display: block;
    }

    .feedback-client__img {
        border-radius: 70px;
        width: 130px;
        height: 120px;
    }

    .feedback-client__name {
        color: var(--second-color-text);
        font-size: 22px;
    }

    .feedback__text {
        color: var(--text--color);
        font-size: 18px;
    }

    .feedback

    /* swiper */
    .swiper {
        margin-top: 60px;
        width: 350px;
        min-height: 400px;
        max-height: 460px;
    }

    .feedback-card {
        max-width: 600px;
        min-height: 300px;
        text-align: center;
        font-size: 18px;
        background-color: #1a1818;
        display: flex;

    }

    /* footer */
    .footer {
        height: 120px;
    }

    .footer__logo {
        margin: 20px;
        width: 70px;
        height: 60px;
    }

    .footer__contact {}

    .footer__title {
        font-weight: 500;
        color: var(--text--color);
        font-size: 14px;
    }

    .footer__text {
        display: none;
    }

    .footer__icon {
        text-align: center;
    }

    .footer__instagram {
        width: 30px;
        height: 30px;
    }

    .footer__vk {
        width: 30px;
        height: 30px;
    }

    .footer__facebook {
        width: 30px;
        height: 30px;
    }

    .footer__callback {
        width: auto;
    }

    .footer__btn {
        display: none;
    }
}