body{
    font-family: Russo One;
    background-color: black;
    margin: auto;
    overflow-x: hidden;
}
/*header*/
.header{
    background-image: url(../img/index/header__bgi.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}
.header__menu{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-top: 20px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 999;
    border-bottom: solid coral;
    
}
.logo{
    height: 90px;
    width: 90px;
    align-items: center;
    margin-left: 20px;
}
.logotip{
    margin-top: 10px;
    height: 80px;
    width: 90px;
}
.btn__info{
    display: flex;
    align-items: center;
}
.number__info{
    color: aliceblue;
    margin-right: 40px;
    text-decoration: none;
}
.callback{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(236,172,19,1) 1%, rgba(166,70,10,1) 48%, rgba(255,0,0,1) 100%);
    color: aliceblue;
    margin-right: 230px;
    font-family: Shadows Into Light;
    font-size: 15px;
}
.a__callback{
    text-decoration: none;
    color: aliceblue;
}
/*burger button*/
.nav__info{
    overflow: hidden;
    display: flex;
    width: auto;
    padding: 0 40px;
}
.nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.burger__btn{
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 35px;
    height: 25px;
    margin-right: 20px;
}
.burger__btn .span__burger{
    height: 3px;
    width: 100%;
    transform: scale(1);
    background-color: coral;
}
.burger__btn::before, .burger__btn::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: coral;
    transition: all 0.5s ease 0s;
}
.burger__btn::before{
    top: 0;
}
.burger__btn::after{
    bottom: 0;
}
/* Анимация открытия кнопки */
.burger__btn.active .span__burger{
    transform: scale(0);
}
.burger__btn.active::before{
    top: 50%;
    transform: rotate(-50deg) translate(0,-45%);
    background-color: coral;
}
.burger__btn.active::after{
    top: 50%;
    transform: rotate(50deg) translate(0, 45%);
    background-color: coral;
}
/* Nav info */
.nav__info{
    display: none;
    flex-direction: column; 
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0; bottom: 0; right: 0;
    z-index: 0;
    overflow-y: auto;
    padding: 80px 40px;
    background-color: #1a1818;
    border-style: solid;
    border-radius: 5px;
    border-color: coral;
    
}
.nav__info .ul__burger{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
    margin-top: 30px;
    z-index: 99;
}
.ul__burger2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 20px;
    margin-top: 30px;
    z-index: 99;
}
.nav__burger1{
    font-size: 22px;
    color: coral;
}
.nav__burger2{
    margin-top: 30px;
    font-size: 22px;
    color: coral; 
}
.open{
    display: flex !important;
}
.a__burger{
    text-decoration: none;
}
.li__burger{
    text-decoration: none;
    color: white;
}
/* Header zagolovok */
.h1__zagolovok{
    padding-top: 100px;
    width: 400px;
    font-size: 50px; 
    background: linear-gradient(90deg, rgba(236,172,19,1) 1%, rgba(166,70,10,1) 48%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.p__zagolovok{
    font-size: 18px;
    color: aliceblue;
    width: 600px;
    font-family: Shadows Into Light;
}
.see__abon{
    margin-top: 30px;   
    border-radius: 10px;
    height: 40px;
    width: 200px;
    background: linear-gradient(90deg, rgba(236,172,19,1) 1%, rgba(166,70,10,1) 48%, rgba(255,0,0,1) 100%);
    animation: bounceIn;
    animation-duration: 2s;
    animation-delay: 1s;
    font-size: 15px;
}
.a__abon{
    color: aliceblue;
    text-decoration: none;
    font-family: Shadows Into Light;
}
/*contact icon*/
.contact{
    width: 400px;
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h1__contact{
    font-size: 18px;
    color: aliceblue;
    margin-right: 40px;
    font-family: Circe;
}
.contact__icon{
}
.instagram{
    transition: all 0.5s;
    margin-right: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.instagram:hover{
    transform: scale(1.2);
}
.vk{
    transition: all 0.5s;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    fill: cornflowerblue;
}
.vk:hover{
    transform: scale(1.2);
}
.facebook{
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    fill: blue;
}
.facebook:hover{
    transform: scale(1.2);
}
/* feedback container */
.feedback-container {
    background-image: url(../img/index/dark__bgi.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 2300px;
    margin-left: auto;
    margin-right: auto;
}
.h1-feedback {
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    font-size: 50px;
    color: white;
    border-bottom: solid coral;
}
.feedback-block {
    width: 1200px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}
.feedback-card {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    width: 800px;
}
.right-card{
    margin-left: 400px;
}
.img-feedback {
    width: 255px;
    height: 255px;
    background-size: cover;
}
.feedback-info {
}
.h1-name {
    color: coral;
}
.p-info-feedback {
    color: white;
    width: 500px;
}
.btn-feedback {
    margin-top: 40px;
    width: 160px;
    height: 30px;
    border-radius: 10px;
    background-color: coral;
}
.a-feedback {
    text-decoration: none;
    color: black;
}
/* down menu */
.down__menu {
    width: 1440px;
    height: 120px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1818;
}
.down__menu__flex {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 60px;
    height: 40px;
}
.logotip__down {
    width: 120px;
    height: 100px;
}
.down__contact {
}
.h1__contact__down {
    font-size: 18px;
    color: aliceblue;
    margin-right: 40px;
    font-family: Circe;
}
.contact__icon {
}
.instagram__down {
    width: 40px;
    height: 40px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}
.vk__down {
    transition: all 0.5s;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    fill: cornflowerblue;
}
.facebook__down {
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    fill: blue;
}
.instagram__down:hover {
    transform: scale(1.5);
}
.vk__down:hover {
    transform: scale(1.5);
}
.facebook__down:hover {
    transform: scale(1.5);
}

.callback__menu__down {
    width: 200px;
}
.number__info__down {
    color: aliceblue;
    margin-right: 40px;
    text-decoration: none;
}
.callback__down {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(236,172,19,1) 1%, rgba(166,70,10,1) 48%, rgba(255,0,0,1) 100%);
    color: aliceblue;
    font-size: 16px;
}
.a__callback {
}

