body {
    font-family: Russo One;
    background-color: black;
    margin: auto;
    overflow-x: hidden;
}

:root {
    --text--color: aliceblue;
    --second-color-text: coral;
    --index: calc(1vw + 1vh);
}
button{
    border-style: none;
}
/* header__menu */
.header__menu {
    background-color: black;
    margin: 0 auto;
    width: auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 110px;
    z-index: 999;
    border-bottom: solid coral;
}

.header__logo {
    height: 70px;
    width: 80px;
    align-items: center;
    margin: 20px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__text-info {
    color: var(--text--color);
    margin-right: 40px;
    text-decoration: none;
}

.header__button {
    font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 16px);
    width: calc(var(--index) * 7);
    height: 40px;
    border-radius: 12px;
    background-color: var(--second-color-text);
    color: var(--text--color);
    margin-right: 230px;
    font-family: Shadows Into Light;
}

.header__button-a {
    font-weight: 500;
    text-decoration: none;
    color: var(--text--color);
}

/* header */
.header {
    background-image: url(../img/index/header__bgi.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 850px;
    margin: 0 auto;
}

.header__title {
    padding-top: calc(var(--index) * 3);
    width: calc(var(--index) * 20);
    font-size: clamp(32px, 10 * (1vw + 1vh) / 2, 52px);
    color: var(--second-color-text);
    font-weight: 800;
    margin-left: 5%;
}

.header__text-p {
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
    color: var(--text--color);
    width: calc(var(--index) * 30);
    margin-left: 5%;
}

#btn__abon {
    margin-left: 5%;
}

/*contact */
.contact {
    width: calc(var(--index) * 20);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}

.contact__title {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 22px);
    font-weight: 500;
}

.contact__icon {}

/* icon */
.instagram {
    transition: all 0.5s;
    margin-right: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.vk {
    transition: all 0.5s;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    fill: cornflowerblue;
}

.facebook {
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    fill: blue;
}

/* info */
.info {
    background-image: url(../img/index/dark__bgi.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 900px;
    margin: -23px auto 0 auto;
}

.info__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
    align-items: center;
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 32px);
    width: calc(var(--index) * 17);
    padding-top: 100px;
    padding-bottom: 10px;
    font-weight: 500;
    border-bottom: solid coral;
}

.info__flex {
    width: 1150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    justify-content: center;
}

/* card container */
.info__card1 {
    position: relative;
    width: 350px;
    height: 200px;
    background-image: url(../img/index/gym__card1.png);
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-color: coral;
}

.info__card2 {
    position: relative;
    width: 350px;
    height: 200px;
    background-image: url(../img/index/card2.png);
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-color: coral;
}

.info__card3 {
    position: relative;
    width: 350px;
    height: 200px;
    background-image: url(../img/index/card3.png);
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-color: coral;
}

.info__card4 {
    position: relative;
    width: 350px;
    height: 200px;
    background-image: url(../img/index/card4.png);
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-color: coral;
}

.info__card5 {
    position: relative;
    width: 350px;
    height: 200px;
    background-image: url(../img/index/card5.png);
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-color: coral;
}

.info__card6 {
    position: relative;
    width: 350px;
    height: 200px;
    background-image: url(../img/index/card6.png);
    background-repeat: no-repeat;
    border-style: solid;
    border-bottom-color: coral;
}

.card__number {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-style: solid;
    border-color: coral;
    border-radius: 5px;
}

.card__number-p {
    margin: 0;
    line-height: 20px;
    font-size: clamp(8px, 10 * (1vw + 1vh) / 2, 12px);
    text-align: center;
    color: coral;
}

.card__title {
    font-weight: 800;
    font-size: clamp(16px, 10 * (1vw + 1vh) / 2, 24px);
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    font-family: Circe;
}

.card__text {
    font-weight: 500;
    width: 272px;
    color: aliceblue;
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 18px);
    font-family: Circe;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.card__span {
    color: var(--second-color-text)
}

/* free tren */
.free__tren {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: var(--second-color-text);
    animation: heartBeat;
    animation-duration: 2s;
}

.free__tren-img {
    width: 80px;
    height: 70px;
    margin-left: 40px;
}

.free__tren-title {
    font-size: clamp(22px, 10 * (1vw + 1vh) / 2, 28px);
    font-weight: 500;
    color: var(--text--color);
}

.free__tren-btn {
    margin-right: 30px;
    height: 40px;
    width: 180px;
    background-color: var(--second-color-text);
    color: var(--text--color);
    border-radius: 12px;
}

.free__tren-a {
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 18px);
    text-decoration: none;
    color: var(--text--color);
}

.free__tren-span {
    color: var(--second-color-text);
}

/* about__us */
.about-us {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 800px;
}

.about-us__title {
    margin-left: 5%;
    width: calc(var(--index) * 12);
    font-weight: 500;
    color: aliceblue;
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 32px);
    margin-bottom: 80px;
    padding-bottom: 10px;
    border-bottom: solid coral;
}

.about-us__info {
    width: 1440;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    animation: zoomIn;
    animation-duration: 0.5s;
}

.about-us__text {
    height: 200px;
    width: calc(var(--index) * 20);
    font-weight: 500;
    color: aliceblue;
    font-size: clamp(16px, 10 * (1vw + 1vh) / 2, 22px);
    margin-top: 70px;
    font-family: Open sans;
}

.about-us__img {
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 15);
    box-shadow: 5px 5px 15px 5px coral;
}

/* statistics */
.statistics {
    background-color: #1a1818;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: calc(var(--index) * 13);
}

.statistics__title {
    padding-top: 30px;
    width: calc(var(--index) * 12);
    margin-left: 20px;
    color: var(--text--color);
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 32px);
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: solid coral;
}

.statistics__flex {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
}

.statistics__card {}

.statistics__value {
    color: var(--second-color-text);
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 32px);
    font-family: Russo One;
    font-weight: 500;
}

.statistics__span {
    color: var(--second-color-text);
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
    font-family: Circe;
}

.statistics__text {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 18px);
    width: 260px;
    font-family: Circe;
}

/* swiper */
.mobile__swipper-trener {
    display: none;
}

.swipper1 {
    margin: 60px auto;
    width: 1440px;
    height: 400px;
}

.swipper-slide1 {
    position: relative;
    width: 280px;
    height: 335px;
    border: solid coral;
    background-color: #1a1818;
    border-radius: 20px;
}

/* trener */
.trener {}

.trener__card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/index.img/trener1.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/index.img/trener__ard2.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/index.img/trener3.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/index.img/trener4.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card5 {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/club2.img/club2__trener1.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card6 {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/club2.img/club2__trener2.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card7 {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/club2.img/club2__trener3.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card8 {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../trener__img/club1.img/club1__trener.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__card9 {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/trener__img/club1.img/trener__club1.4.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: -7px;
    width: 248px;
    height: 330px;
    text-align: center;
}

.trener__title {
    font-weight: 500;
    width: calc(var(--index) * 14);
    color: aliceblue;
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 32px);
    border-bottom: solid coral;
    margin-top: 120px;
    margin-bottom: 60px;
    margin-left: 5%;
    color: var(--text--color);
}

.trener__class {
    position: absolute;
    top: 5px;
    left: 17%;
    border-bottom: solid 1px coral;
    height: 25px;
    width: 160px;
    text-align: center;
    font-family: Open sans;
}

.class__title {
    padding-top: 5px;
    color: var(--text--color);
    font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 16px);
    font-family: Open sans;
    margin: 0;
}

.trener__name {
    color: var(--text--color);
    padding-top: 200px;
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 18px);
    font-family: Open sans;
}

.trener__text {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 18px);
    font-weight: 500;
}

.trener__btn {
    position: absolute;
    top: 280px;
    left: 70px;
    width: calc(var(--index) * 5);
    position: absolute;
    background-color: coral;
    border-radius: 10px;
    height: 30px;
}

.trener__a {
    text-decoration: none;
    color: var(--text--color);
    font-size: clamp(12px, 10 * (1vw + 1vh) / 2, 16px);
}

/* subscription */
.subscription {
    width: 1440px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.subscription__title {
    font-weight: 500;
    color: var(--text--color);
    width: calc(var(--index) * 15);
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 32px);
    margin-left: 5%;
    margin-top: 150px;
    padding-bottom: 10px;
    border-bottom: solid coral;
}

.subscription__flex {
    width: 1200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.subscription__card {
    width: 260px;
    height: 570px;
    background-color: var(--text--color);
}

.subscription__img {
    margin-top: -30px;
    margin-left: 70px;
}

.subscription__text {
    margin-left: 20px;
    color: var(--second-color-text);
}

.subscription__card-title {
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
    font-family: Russo One;
    margin-left: 20px;
}

.subscription__info {
    padding-left: 30px;
}

.subscription__li {
    color: var(--second-color-text);
}

.subscription__info-text {
    color: #1a1818;
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px);
}

.subscription__btn {
    background-color: var(--text--color);
    border-style: solid;
    border-color: coral;
    border-radius: 10px;
    height: 35px;
    margin-top: 20px;
    margin-left: 11%;
    width: 200px;

}

.subscription__a {
    text-decoration: none;
    color: coral;
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px)
}

.subscription__price {
    text-align: center;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    background-color: var(--second-color-text);
    margin-left: auto;
    margin-right: auto;
}

.subscription__price-text {
    margin: 0;
    padding-top: 10px;
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
    color: var(--text--color);
}

/* feedback slider */
.swiper__feedback {
    width: 900px;
    height: 600px;
}

.swipper-wrapper2 {
    width: 900px;
    height: 500px;
}

.slider2 {
    width: 900px;
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* feedback */
.feedback {
    width: 1440px;
    height: 700px;
    margin: 100px auto 0 auto;
}

.feedback__title {
    font-weight: 500;
    color: var(--text--color);
    font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 36px);
    width: 400px;
    text-align: end;
    margin-left: auto;
    margin-right: 150px;
    font-family: Russo One;
    padding-bottom: 10px;
    border-bottom: solid coral;
}

.feedback__flex {
    margin-top: 120px;
    width: 1000px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1818;
    border-bottom: solid coral;
    display: flex;
    justify-content: space-around;
}

#feedback__card1 {
    background-image: url(../trener__img/index.img/feedback-index/feedback.jpg);
}

#feedback__card2 {
    background-image: url(../trener__img/index.img/feedback-index/feedback2.jpg);
    background-position: -120 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#feedback__card3 {
    background-image: url(../trener__img/index.img/feedback-index/feedback3.jpg);
    background-position: -80 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#feedback__card4 {
    background-image: url(../trener__img/index.img/feedback-index/feedback4.jpg);
    background-position: -80 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.feedback__card {
    position: relative;
    margin-top: -40px;
    width: 255px;
    height: 316px;
    box-shadow: inset 0px -15px 15px 0px coral;
    margin-left: 80px;
}

.feedback__icon {
    top: 5;
    right: 5;
    position: absolute;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: var(--second-color-text);
    margin-left: 230px;
}

.instagram2 {
    padding-top: 2px;
    width: 20px;
    height: 20px;
}

.feedback__comment {
    padding-left: 80px;
}

.feedback__title-card {
    color: var(--second-color-text);
    font-size: clamp(16px, 10 * (1vw + 1vh) / 2, 32px);
    font-family: Open Sans;
}

.feedback__text {
    width: 450px;
    font-size: 16px;
    color: var(--text--color);
    font-family: Open Sans;
}

.feedback__btn {
    background-color: var(--second-color-text);
    height: 30px;
    width: 140px;
    border-radius: 10px;
}

.feedback__a {
    text-decoration: none;
    color: var(--text--color);
}

/* adress */
.adress {
    width: 1440px;
    margin: 60px auto;
}

.adress__title {
    font-weight: 500;
    color: var(--text--color);
    font-size: clamp(16px, 10 * (1vw + 1vh) / 2, 32px);
    margin-right: auto;
    margin-left: 220px;
    width: 450px;
    padding-bottom: 10px;
    border-bottom: solid coral;
}

.adress__flex {
    width: 1000px;
    display: flex;
    column-gap: 40px;
    margin: 0 auto;
}

.adress__card {}

.adress__card-title {
    font-weight: 500;
    color: var(--text--color);
    font-size: clamp(16px, 10 * (1vw + 1vh) / 2, 20px);
    margin-bottom: 40px;
    margin-top: 30px;
}

.adress__card-text {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px);
    font-family: Open Sans;
}

/* footer */
.footer {
    width: auto;
    height: 140px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1818;
}

.footer__flex {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin: 20px;
    width: 80px;
    height: 70px;
}

.footer__contact {}

.footer__title {
    font-weight: 500;
    color: var(--text--color);
    font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
}

.footer__text {
    color: var(--text--color);
    font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px);
}

.footer__icon {
    text-align: center;
}

.footer__instagram {
    width: 40px;
    height: 40px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.footer__vk {
    transition: all 0.5s;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    fill: cornflowerblue;
}

.footer__facebook {
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    fill: blue;
}

.footer__callback {
    width: 200px;
}

.footer__btn {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--second-color-text);
    color: aliceblue;
    font-size: 16px;
}

.footer__a {
    text-decoration: none;
    color: var(--text--color);
}

/* mobile adaptive*/
@media screen and (max-width: 480px) {

    /* header */
    .header {
        background-image: none;
        width: auto;
        height: 700px;
    }

    .header__menu {
        background-color: black;
        margin: 0 auto;
        width: auto;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 90px;
        z-index: 999;
        border-bottom: solid coral;
    }

    .header__logo {
        height: 60px;
        width: 70px;
        align-items: center;
        margin: 20px;
    }

    .header__text-info {
        width: 150px;
        font-size: 14px;
        margin-left: 10px;
        text-decoration: none;
        color: var(--text--color);
    }

    .callback {
        display: none;
    }

    .header__title {
        padding-top: 0;
        text-align: center;
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        font-size: clamp(26px, 10 * (1vw + 1vh) / 2, 36px);
        color: var(--second-color-text);
        font-weight: 800;
    }

    .header__text-p {
        text-align: center;
        font-size: clamp(10px, 10 * (1vw + 1vh) / 2, 14px);
        color: var(--text--color);
        width: 330px;
        margin: 40px auto 0 auto;
    }

    #btn__abon {
        width: calc(var(--index) * 12);
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 0;
    }

    /* contact */
    .contact {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 200px auto 0 auto;
    }

    .contact__title {
        padding-left: 10px;
        color: var(--text--color);
        font-size: 15px;
        font-weight: 500;
    }

    .contact__icon {
        display: flex;
        justify-content: space-evenly;
        width: 250px;

    }

    /* info__container */
    .info {
        background-image: none;
        background-repeat: no-repeat;
        width: auto;
        height: 1800px;
        margin: -23px auto 0 auto;
    }

    .info__title {
        margin: 0px auto;
        font-size: 24px;
        width: calc(var(--index) * 22);
        padding: 0;
    }

    .info__flex {
        width: auto;
    }

    /* free__tren */
    .free__tren {
        border-width: thin;
        margin: 60px auto 0 auto;
        width: 350;
        height: 100px;
    }

    .free__tren-img {
        width: 60px;
        height: 50px;
        margin-left: 10px;
    }

    .free__tren-title {
        width: 200px;
        font-size: 15px;

    }

    .free__tren-btn {
        margin-right: 10px;
        height: 30px;
        width: 100px;
    }

    .free__tren-a {
        font-size: 14px;
    }

    /* about us  */
    .about-us {
        margin: 40px auto 0 auto;
        width: auto;
        height: 600px;
    }

    .about-us__title {
        width: calc(var(--index) * 20);
        font-size: 24px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .about-us__info {
        width: auto;
        display: block;
        align-items: start;
        animation: zoomIn;
        animation-duration: 0.5s;
    }

    .about-us__text {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 310px;
        font-weight: 500;
        font-size: 16px;
    }

    .about-us__img-container {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 15);
    }

    .about-us__img {
        box-shadow: 5px 5px 15px 5px coral;
    }

    /* static */
    .statistics {
        margin: 0 auto;
        width: 330px;
        height: 650px;
    }

    .statistics__title {
        text-align: center;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: calc(var(--index) * 20);
        color: var(--text--color);
        font-size: 24px;
    }

    .statistics__flex {
        margin-left: auto;
        justify-content: center;
        flex-wrap: wrap;
        width: 220px;
    }

    .statistics__card {
        width: 200px;
        margin: 0 auto;
    }

    .statistics__value {
        padding-left: 20px;
        color: var(--second-color-text);
        font-size: 36px;
        font-weight: 500;
    }

    .statistics__span {
        color: var(--second-color-text);
        font-size: clamp(18px, 10 * (1vw + 1vh) / 2, 24px);
        font-family: Circe;
    }

    .statistics__text {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 30px;
        color: var(--text--color);
        font-size: 16px;
        width: 180px;
        font-family: Circe;
    }

    /* trener - swipper */
    .trener {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile__swipper-trener {
        position: relative;
        display: block;
        width: 340px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }

    .trener__card1 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card2 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card3 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card4 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card5 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card6 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card7 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card8 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .trener__card9 {
        position: relative;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .swipper-wrapper {
        display: none;
    }

    .swipper1 {
        display: none;
    }

    .trener__title {
        text-align: center;
        font-weight: 500;
        width: calc(var(--index) * 20);
        font-size: 22px;
        margin: 120px auto 0 auto;
        color: var(--text--color);
    }

    .trener__btn {
        position: absolute;
        top: 300px;
        left: 70px;
        width: 120px;
        position: absolute;
        background-color: coral;
        border-radius: 10px;
        height: 30px;
    }

    /* subscription */
    .subscription {
        width: auto;
        height: 2800px;
        margin-left: auto;
        margin-right: auto;
    }

    .subscription__title {
        font-weight: 500;
        width: calc(var(--index) * 18);
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .subscription__flex {
        width: auto;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .subscription__card {
        margin: 60px auto 90px auto;
        width: 260px;
        height: 570px;
        background-color: var(--text--color);
    }

    /* feedback */
    .feedback {
        display: none;
    }

    /* adress */
    .adress {
        width: auto;
        margin: 60px auto;
    }

    .adress__title {
        text-align: center;
        margin: 60px auto 0 auto;
        font-size: 24px;
        width: calc(var(--index) * 20);
        border-bottom: solid coral;
    }

    .adress__flex {
        width: 330px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        margin: 0 auto;
    }

    .adress__card {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .adress__card-title {
        font-weight: 500;
        color: var(--text--color);
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .adress__card-text {
        color: var(--text--color);
        font-size: clamp(14px, 10 * (1vw + 1vh) / 2, 16px);
        font-family: Open Sans;
    }

    /* footer */
    .footer {
        height: 120px;
    }

    .footer__logo {
        margin: 20px;
        width: 70px;
        height: 60px;
    }

    .footer__contact {}

    .footer__title {
        font-weight: 500;
        color: var(--text--color);
        font-size: 14px;
    }

    .footer__text {
        display: none;
    }

    .footer__icon {
        text-align: center;
    }

    .footer__instagram {
        width: 30px;
        height: 30px;
    }

    .footer__vk {
        width: 30px;
        height: 30px;
    }

    .footer__facebook {
        width: 30px;
        height: 30px;
    }

    .footer__callback {
        width: auto;
    }

    .footer__btn {
        display: none;
    }
}
