@media screen and (max-width: 480px){
    .header{
        background-image: none;
        width: auto;
        height: 700px;
    }
    .header__menu{
        width: auto;
    }
    .logo{
        margin-left: 10px;
    }
    .logotip{
        height: 60px;
        width: 80px;
    }
    .callback{
        display: none;
    }
    /* header zagolovok */
    .header__zagolovok{
        width: auto;
    }
    .h1__zagolovok{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
    .p__zagolovok{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .aboniment__btn{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .a__abon{
        font-size: 14px;
    }
    .contact{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 270px;
    }
    .h1__contact{
        width: 170px;
        margin-left: 10px;
        margin-right: 0px;
    }
    .contact__icon{
        margin-right: 10px;
    }
    /* info__gym */
    .info__gym{
        margin-top: 40px;
        background-image: none;
        width: auto;
        height: 1900px
    }
    .h1__gym{
        max-width: 350px;
        font-size: 28px;
    }
    .gym__grid{
        width: 350px;
        grid-template-columns: repeat(1,6fr);
    }
    .free__tren{
        width: auto;
        border-width: thin;
    }
    .img__free__tren{
        margin-left: 10px;
    }
    .h1__free__tren{
        margin-left: 10px;
        font-size: 14px;
        width: 200px;
    }
    .btn__free__tren{
        margin-right: 10px;
    }
    /* fitness__info */
    .fitness__info{
        margin-top: 40px;
        width: auto;
    }
    .h1__fitness__info{
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
    }
    .information__glub{
        display: block;
        width: 340px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .p__fitness__info{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        font-size: 20px;
    }
    .img__fitness{
        max-width: 330px;
        height: 230px;
    }
    /* statistica__club */
    .statistica__club{
        width: auto;
        height: 740px;
    }
    .h1__statistics__club{
        margin: 0;
        width: 250px;
        font-size: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .statistiga__flex{
        display: block;
        margin-top: 40px;
        width: auto;
        text-align: center;
    }
    .statistica1{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .p__info__statistica{
        margin-left: auto;
        margin-right: auto;
    }
    .statistica2{
        margin-top: 30px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .statistica3{
        margin-top: 30px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .statistica4{
        margin-top: 30px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    /* trener */
    .trener{
        width: auto;
        height: 1850px;
    }
    .h1__trener{
        margin-left: auto;
        margin-right: auto;
        width: 290px;
        font-size: 32px;
    }
    .trener__flex{
        display: block;
        max-width: 260px;
    }
    .trener__card1{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
        box-shadow: 3px 3px 15px 3px coral;
    }
    .profil__trener{

    }
    .h1__name__trener{
        margin-top: 200px;
    }
    .trener__card2{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
        box-shadow: 3px 3px 15px 3px coral;
    }
    .trener__card3{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 60px;
        box-shadow: 3px 3px 15px 3px coral;
    }
    .trener__card4{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        box-shadow: 3px 3px 15px 3px coral;
    }
    /* aboniment__container */
    .aboniment__container{
        width: auto;
        height: 3000px;
    }
    .h1__aboniment{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .aboniment__flex{
        display: block;
        max-width: 260px;
    }
    .aboniment1{
        margin-bottom: 100px;
    }
    .aboniment2{
        margin-bottom: 100px;
    }
    .aboniment3{
        margin-bottom: 100px;
    }
    /* feedback__container */
    .feedback__container{
        width: auto;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .h1__feedback{
        width: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .feedback__flex{
        display: block;
        height: 700px;
        width: auto;
    }
    .card__feedback{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .comment__feedback{
        max-width: 440px;
        height: 300px;
        padding-left: 20px;
    }
    .p__feedback{
        width: 340px;
    }
    .btn__feedback{
        margin-top: 50px;
        width: 200px;
    }
    /* adress__container */
    .adress__container{
        width: auto;
        height: 850px;
    }
    .h1__adress{
        width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .adress__flex{
        display: block;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .adress1{
        box-shadow: 3px 3px 15px 3px coral;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .adress2{
        box-shadow: 3px 3px 15px 3px coral;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .adress3{
        box-shadow: 3px 3px 15px 3px coral;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* down menu */
    .down__menu{
        width: auto;
        height: 140px;

    }
    .logotip__down{
        padding-top: 10px;
        width: 70px;
        height: 60px;
    }
    .down__contact{
        width: 200px;
        padding-left: 20px;
    }
    .contact__icon__down{
        width: 120px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .instagram__down {
        width: 30px;
        height: 30px;
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        border-radius: 10px;
    }
    .vk__down {
        width: 30px;
        height: 30px;
    }
    .facebook__down {
        width: 30px;
        height: 30px;
    }
    
    .h1__contact__down{
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 14px;
    }
    .number__info__down{
        margin-right: 5px;
        margin-top: 20px;
        font-size: 14px;
    }
    .callback__down{
        width: 120px;
        height: 45px;
        margin-left: 5px;
    }
}