@media screen and (max-width: 480px){
    .header{
        background-image: none;
        width: auto;
        height: 700px;
    }
    .header__menu{
        width: auto;
    }
    .logo{
        width: 70px;
        height: 60px;
        margin-left: 10px;
    }
    .logotip{
        height: 60px;
        width: 70px;
    }
    .callback{
        display: none;
    }
    /* header zagolovok */
    .header__zagolovok{
        background-image: none;
        width: auto;
    }
    .h1__zagolovok2{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        font-size: 40px;
        text-align: center;
    }
    .p__zagolovok2{
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .aboniment__btn2{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .a__abon{
        font-size: 14px;
    }
    .contact{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
    }
    .h1__contact{
        width: 170px;
        margin-left: 10px;
        margin-right: 0px;
    }
    .contact__icon{
        margin-right: 10px;
    }
    /* header2 */
    .header2{
        background-image: none;
        width: auto;
    }
    .h1__header{
        width: 250px;
        font-size: 24px;

    }
    /* trener__card */
    .trener__card-right{
        display: block;
        width: 340px;
        height: 820px;
        margin-left: auto;
        margin-right: auto;
    }
    .trener__card-left{
        display: block;
        width: 340px;
        height: 820px;
        margin-left: auto;
        margin-right: auto;
    }
    .img__trener{
        width: 255px;
        margin-left: auto;
        margin-right: auto;
    }
    .info_trener{
        width: 340px;
    }
    .name__trener{
        font-size: 30px;
        width: 250px;
        margin: 10px auto 10px auto;
        text-align: center;
    }
    .p__trener{
        width: 330px;
        margin-left: 10px;
    }
    .icon__seti{
        width: 300px;
        margin-left: 10px;
    }
    .btn__trener{
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
    }
    .see-more-container{
        display: none;
    }
    .btn{
        display: none;
    }
    .card:not(:nth-child(-n + 8)){
        display: none;
    }
}
@media screen and (min-width: 1550px){
    .header__menu{
        width: auto;
    }
    .down__menu{
        width: auto;
        height: 120px;
    }
}